.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    background-color: #F2F2F2;
}

.footer__social {
    display: flex;
    gap: 25px;
}

.footer__academy {
    display: flex;
    align-items: center;
    gap: 22px;
}
