* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.header {
    position: relative;
    z-index: -1;
    background-image: url("../../images/main/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px 0 100px;
    padding-top: 50px;
}

.nav-bar__logo-text {
    display: none;
    justify-content: center;
    gap: 10px;
}

.nav-bar__logo-text > p:nth-child(1) {
    font-weight: 700;
}

.nav-bar > ul {
    display: flex;
    gap: 25px;
    list-style: none;
    color: white;
}

.nav-bar > ul > li {
    font-size: 20px;
}

.nav-bar > ul > li:hover {
    cursor: pointer;
    color: blue;
}

.nav-bar > ul > li:first-child {
    text-decoration: underline;
}

.nav-bar > img:last-child {
    display: none;
}

.logo-mobile {
    display: none;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 555px;
    margin: 110px 0 0 190px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

.main-text > p {
    font-size: 24px;
    text-transform: uppercase;
}

.main-text > button {
    width: 304px;
    padding: 14px 26px;
    margin-bottom: 140px;
    font-size: 26px;
    text-transform: uppercase;
    background-color: #68B738;
    color: white;
}

.main-text > button:hover {
    cursor: pointer;
}

.img-can {
    position: absolute;
    right: 330px;
    top: 130px;
    z-index: -1;
}

@media (max-width: 1200px) {
    .header {
        background-image: none;
    }

    .nav-bar {
        justify-content: space-between;
        padding-top: 24px;
        margin: 0 30px;
    }

    .nav-bar > ul {
        color: black;
    }

    .main-text {
        margin: 60px 0 0 120px;
    }

    .main-text > button {
        width: 260px;
        padding: 22px 0;
        margin-bottom: 340px;
        font-size: 20px;
        line-height: 0;
    }

    .img-can {
        right: unset;
        left: 170px;
        top: 350px;
    }
}

@media (max-width: 600px) {
    .logo-mobile, .nav-bar > img:last-child {
        display: inline;
    }

    .logo-desktop, .nav-bar > ul {
        display: none;
    }

    .nav-bar__logo-text {
        display: flex;
        font-size: 24px;
    }

    .header {
        background-image: url("../../images/main/index-background-mobile.png");
        background-size: 100%;
        background-position: 0 80px;
    }

    .main-text {
        width: unset;
        margin: 40px 0 0 0;
        gap: 20px;
        text-align: center;
        color: white;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
    }

    .main-text > p {
        font-size: 14px;
    }

    .main-text > button {
        width: unset;
        margin: 270px 20px 0 20px;
        padding: 30px 0;
        border: none;
    }

    .img-can {
        width: 280px;
        left: 5px;
        top: 246px;
    }
}
