.how {
    margin: 70px 110px 0 110px;
}

.how > p:first-child {
    margin-bottom: 70px;
    font-size: 60px;
}

.how__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.how__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 245px;
    height: 280px;
}

.how__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #68B738;
}

.how__card > p, .how__card > div > p {
    font-family: Arial;
}

.how__card > span {
    position: absolute;
    right: 0px;
    top: -96px;
    z-index: -1;
    font-size: 250px;
    color: #F2F2F2;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .how {
        margin: 30px 30px 0 30px;
    }
}

@media (max-width: 600px) {
    .how {
        margin: 20px 20px 0 20px;
    }

    .how > p:first-child {
        margin-bottom: 40px;
        font-size: 36px;
    }

    .how__list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .how__card {
        flex-direction: row;
        align-items: center;
        width: unset;
        height: unset;
    }

    .how__card > p, .how__card > div:nth-child(2) {
        width: 180px;
    }

    .how__card > span {
        display: none;
    }
}
